/* variables */
:root {
    /* color */
    --color-blue: #3B6287;
    --color-orange: #E77D42;
    --color-yellow: #F3D676;
    --color-black: #2D363F;
    --color-green: #67B2A8;
    --shadow: 0px 10px 20px rgba(231, 125, 66, .6);
    /* position */
    --z-normal: 1;
    --z-modal: 100;
    --z-super: 200;
}

/* inicializar */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
    box-sizing: border-box;
}

/* Header */
#header {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    padding: 1em 7em;
    height: 4em;
    z-index: var(--z-normal);
}

#headerLogo img, #iconCart img {
    width: auto;
    height: 2.2em;
}

/* Footer */
#footer {
    background-color: var(--color-blue);
    padding: 1em 4em;
}
#footer p {
    color: white;
    text-align: center;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
    margin-left: 0;
    padding: .3em 0;
}

/* Index */
.titleVirazon {
    color: var(--color-orange);
    font-family: serif;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.5em;
    padding-bottom: 1.2em;
}
h1 {
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
    font-size: 8em;
    line-height: 1em;
    font-weight: 900;
}
.bannerPrincipal {
    position: relative;
    /*background-color: var(--color-yellow);*/
    padding-bottom: 2em;
    
}
.titlePhoto {
    width: 20%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 40%;
}
.btnPrimary {
    background-color: var(--color-blue);
    color: white;
    font-weight: 700;
    margin: 2em auto 0 auto;
    text-align: center;
    width: 15%;
    padding: .4em 0;
    border-radius: 20px;
    cursor: pointer;
}
.seccionQuedate {
    background-color: var(--color-yellow);
    padding: 2em 6em;
    margin-top: 3em;
}
.seccionQuedateFlex {
    display: flex;
    justify-content: space-around;
    padding-top: 2.6em;
}
.seccionQuedateItem-img {
    background-color: white;
    border-radius: 50%;
    padding: 1em;
    width: 6rem;
    height: auto;
}
.seccionQuedateItem p {
    text-align: center;
    padding-top: .7em;
}
h2 {
    color: var(--color-orange);
    font-weight: 700;
    text-align: center;
}

/* js cards */
.eachCard {
    width: 70%;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 20px;
    margin: 2em auto;
    display: flex;
    align-items: center;
    padding: 2em;
}
.cardsImg {
    width: 20%;
}
.cardsImg img {
    width: 90%;
    height: auto;
}
.cardsInfo {
    padding-left: 3em;
    width: 70%;
}
h3 {
    font-weight: 700;
    color: var(--color-orange);
}
.cardsBuy {
    padding-top: .8em;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}
.buyingPrice p {
    font-weight: 700;
    color: var(--color-blue);
}
.buyingAction {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.buyingAction img {
    width: 2em;
    height: auto;
}

/* dropdown cart */
#parentDropdown {
    position: relative;
}
#dropdownCart {
    position: absolute;
    width: 14em;
    height: auto;
    padding: 1.2em;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow);
    right: 6em;
    top: 4em
}
h4 {
    font-size: 1em;
    font-weight: 700;
    color: var(--color-orange);
    width: 90%;
}
.flexP {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 80%;
    padding-bottom: .6em;
}
.pDropdown {
    font-size: .8em;
    padding-right: 2em;
}
#iconCart .dropdownBin {
    height: 1.2em;
    width: auto;
}
#cartPage {
    width: 70%;
    background-color: var(--color-orange);
    color: white;
    margin: 0 auto;
    font-size: .8em;
    text-align: center;
    padding: .3em;
    border-radius: 20px;
}
#cuantosItems {
    background-color: #3B6287;
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-modal);
}

/* menu categories */
#menuCategories {
    background-color: var(--color-yellow); 
    text-align: center;  
}
#menuCategories li{
    display: inline-block;
    padding: .6em 1.5em;
    color: var(--color-blue);
}
#menuCategories li:hover{
    font-weight: 700;
    cursor: pointer;
}

#confirmarCompra {
    width: 15%;
    background-color: white;
    color: var(--color-orange);
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    padding: .3em;
    border-radius: 20px;
}
#contactForm {
    width: 50%;
    margin: 0 auto;
}
#fNombre, #fEmail {
    width: 100%;
    padding: 1em;
    border-radius: 20px;
    margin: .8em 0 2em 0;
    border: none;
}
.formLabel {
    width: 100%;
    font-weight: 300;
    color: white;
}
#formSubmit {
    width: 15%;
    background-color: white;
    color: var(--color-orange);
    margin: 1em auto;
    font-weight: 700;
    text-align: center;
    padding: .3em;
    border-radius: 20px;
    border: none;
    margin-left: 40%;
    margin-bottom: 3em;
}
#formInformation p {
    text-align: center;
    padding: 2em 0;
    color: white;
}
#shopCarrito {
    background-color: var(--color-orange);
    padding: 3em 0;
    height: 80vh;
}
#shopCarrito h2 {
    color: white;
    padding-bottom: 1em;
}

.respaldoDiv {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 60%;
    background-color: white;
    margin: 0 auto 2em auto;
    padding: 1em 4em;
}
.respaldoDiv img {
    width: 1em;
    height: auto;
}
.respaldoDiv h3 {
    width: 50%;
    font-size: 1em;
}
.respaldoDiv p {
    padding-right: 4em;
    font-size: .8em;
}
.pTotal {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
}
#gracias p {
    text-align: center;
    color: white;
    font-size: 2em;
    width: 70%;
    margin: 0 auto;
}